<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pis.gmall.manage.mapper.PmsSkuInfoMapper">
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
		SELECT
			si.id AS si_id, ssav.id AS ssav_id, si.*,ssav.*
		FROM
			pms_sku_info AS si
		INNER JOIN
			pms_sku_sale_attr_value AS  ssav
		ON
			si.id = ssav.sku_id AND
			si.product_id = #{productId}
	</select>
	<!-- 映射关系-->
	<resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.pis.gmall.bean.PmsSkuInfo" autoMapping="true">
			<result column="si_id" property="id"></result>
		<collection property="skuSaleAttrValueList" ofType="com.pis.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
			<result column="ssav_id" property="id"></result>
		</collection>
	</resultMap>
</mapper>

